apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
        env: dev
    spec:
      containers:
      - name: myapp
        image: docker.io/burrsutter/hello:1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: GREETING
          value: Aloha
        # resources:
        #   requests:
        #     memory: "300Mi"
        #     cpu: "250m" # 1/4 core
        #   limits:
        #     memory: "400Mi"
        #     cpu: "1000m" # 1 core        
        # livenessProbe:
        #   httpGet:
        #       port: 8080
        #       path: /alive
        #   initialDelaySeconds: 10
        #   periodSeconds: 5
        #   timeoutSeconds: 2
        # readinessProbe:
        #   httpGet:  
        #     path: /health
        #     port: 8080
        #   initialDelaySeconds: 10
        #   periodSeconds: 3
